trunk/MahoutBPELParallelScenario/WF_Process/bpelContent/MatServ25.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" 
xmlns:ws="http://www.example.org/MatServ25/" 
xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" 
 name="MatServ" 
targetNamespace="http://www.example.org/MatServ25/">
  <wsdl:types>
    <schema xmlns="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.example.org/MatServ25/" xmlns:ws="http://www.example.org/MatServ25/">
    	<element name="compute">
    		<complexType>
    			<sequence>
    				<element name="operation" type="string" />
    				<element name="op_id" type="int"></element>
    				<element name="job_id" type="int"></element>
    				<element name="matA_ID" type="string"></element>
    				<element name="matB_ID" type="string"></element>
    				<element name="callback" type="string"></element>
    			</sequence>
    		</complexType>
    	</element>

    	
    </schema>
  </wsdl:types>
  <wsdl:message name="computeRequest">
    <wsdl:part element="ws:compute" name="parameters"/>
  </wsdl:message>

  
  <wsdl:portType name="MatServ">
    <wsdl:operation name="compute">
      <wsdl:input message="ws:computeRequest"/>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="MatServSOAP25" type="ws:MatServ">
  	<soap:binding style="document"
  		transport="http://schemas.xmlsoap.org/soap/http" />
  	<wsdl:operation name="compute">
  		<soap:operation
  			soapAction="http://www.example.org/MatServ25/compute" />
  		<wsdl:input>
  			<soap:body use="literal" />
  		</wsdl:input>
  	</wsdl:operation>
  	
  </wsdl:binding>
  <wsdl:service name="MatServ">
    <wsdl:port binding="ws:MatServSOAP25" name="MatServSOAP25">
      <soap:address location="http://10.160.2.25:8080/SM_WS/services/MatServ"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>
