BPEL Working Examples/Pick Example/bpelContent/PickSampleArtifacts.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<definitions xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:p="http://www.w3.org/2001/XMLSchema" xmlns:plnk="http://docs.oasis-open.org/wsbpel/2.0/plnktype" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://pick.bpel.tps" xmlns:vprop="http://docs.oasis-open.org/wsbpel/2.0/varprop" name="PickSample" targetNamespace="http://pick.bpel.tps">

<!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
     TYPE DEFINITION - List of types participating in this BPEL process 
     The BPEL Designer will generate default request and response types
     but you can define or import any XML Schema type and use them as part 
     of the message types.
     ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->    
    
    <types>
        <schema xmlns="http://www.w3.org/2001/XMLSchema" attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://pick.bpel.tps">

            <element name="PickSampleRequest">
                <complexType>
                    <sequence>
                        <element name="input" type="string"/>
                    </sequence>
                </complexType>
            </element>

            <element name="PickSampleResponse">
                <complexType>
                    <sequence>
                        <element name="result" type="string"/>
                    </sequence>
                </complexType>
            </element>
            <element name="sayGoodBye">
            	<complexType>
            		<sequence>
            			<element name="in" type="string"/>
            		</sequence>
            	</complexType>
            </element>
            <element name="sayGoodByeResponse">
            	<complexType>
            		<sequence>
            			<element name="out" type="string"/>
            		</sequence>
            	</complexType>
            </element>
        </schema>
    </types>


<!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
     MESSAGE TYPE DEFINITION - Definition of the message types used as 
     part of the port type defintions
     ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->    
    <message name="PickSampleRequestMessage">
        <part name="payload" element="tns:PickSampleRequest" />
    </message>
    <message name="PickSampleResponseMessage">
        <part name="payload" element="tns:PickSampleResponse" />
    </message>

<!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
     PORT TYPE DEFINITION - A port type groups a set of operations into
     a logical service unit.
     ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->    

    <!-- portType implemented by the PickSample BPEL process -->
    <message name="sayGoodByeRequest">
    	<part name="parameters" element="tns:sayGoodBye" />
    </message>
    <message name="sayGoodByeResponse">
    	<part name="parameters" element="tns:sayGoodByeResponse" />
    </message>
    <portType name="PickSample">
        <operation name="sayHello">
            <input message="tns:PickSampleRequestMessage" name="hello_IN"/>
            <output message="tns:PickSampleResponseMessage" name="hello_OUT"/>
        </operation>
        <operation name="sayGoodBye">
        	<input message="tns:sayGoodByeRequest" name="good_IN"/>
        	<output message="tns:sayGoodByeResponse" name="good_OUT"/>
        </operation>
    </portType>   
<!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
     PARTNER LINK TYPE DEFINITION
     ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->    
<plnk:partnerLinkType name="PickPartnerLT">
    <plnk:role name="Picker" portType="tns:PickSample"/>
  </plnk:partnerLinkType>
<!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
     BINDING DEFINITION - Defines the message format and protocol details
     for a web service.
     ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->

<!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
     SERVICE DEFINITION - A service groups a set of ports into
     a service unit.
     ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
    <binding name="PickBinding" type="tns:PickSample">
    	<soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    	<operation name="sayHello">
    		<soap:operation soapAction="http://pick.bpel.tps/sayHello"/>
    		<input name="hello_IN">
    			<soap:body use="literal"/>
    		</input>
    		<output name="hello_OUT">
    			<soap:body use="literal"/>
    		</output>
    	</operation>
    	<operation name="sayGoodBye">
    		<soap:operation soapAction="http://pick.bpel.tps/sayGoodBye"/>
    		<input name="good_IN">
    			<soap:body use="literal"/>
    		</input>
    		<output name="good_OUT">
    			<soap:body use="literal"/>
    		</output>
    	</operation>
    </binding>
    <service name="PickService">
    	<port binding="tns:PickBinding" name="PickPort">
    		<soap:address location="http://localhost:8080/ode/processes/PickSample"/>
    	</port>
    </service>
</definitions>
