trunk/MahoutWS_BPELProcess/AsynchClient/WebContent/WEB-INF/services/CallbackReceive/META-INF/CallbackReceive.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions name="CallbackReceive" targetNamespace="http://www.example.org/CallbackReceive/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="http://www.example.org/CallbackReceive/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://www.example.org/CallbackReceive/">
      <xsd:element name="onCallback">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="in" type="xsd:string"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="onCallbackResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="out" type="xsd:string"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="onCallbackResponse">
    <wsdl:part name="parameters" element="tns:onCallbackResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="onCallbackRequest">
    <wsdl:part name="parameters" element="tns:onCallback">
    </wsdl:part>
  </wsdl:message>
  <wsdl:portType name="CallbackReceive">
    <wsdl:operation name="onCallback">
      <wsdl:input message="tns:onCallbackRequest">
    </wsdl:input>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="CallbackReceiveSOAP" type="tns:CallbackReceive">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="onCallback">
      <soap:operation soapAction="http://www.example.org/CallbackReceive/onCallback"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="CallbackReceive">
    <wsdl:port name="CallbackReceiveSOAP" binding="tns:CallbackReceiveSOAP">
      <soap:address location="http://localhost:8080/AsynchClient/services/CallbackReceive"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>
