MahoutWS_BPELProcess/AsynchClient/WebContent/WEB-INF/services/CallbackReceive/org/example/www/matserv/CallbackReceive.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://www.example.org/CallbackReceive/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="CallbackReceive" targetNamespace="http://www.example.org/CallbackReceive/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://www.example.org/CallbackReceive/">
      <xsd:element name="onCallback">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="in" type="xsd:string"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="onCallbackResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="out" type="xsd:string"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="onCallbackRequest">
    <wsdl:part element="tns:onCallback" name="parameters"/>
  </wsdl:message>
  <wsdl:message name="onCallbackResponse">
    <wsdl:part element="tns:onCallbackResponse" name="parameters"/>
  </wsdl:message>
  <wsdl:portType name="CallbackReceive">
    <wsdl:operation name="onCallback">
      <wsdl:input message="tns:onCallbackRequest"/>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="CallbackReceiveSOAP" type="tns:CallbackReceive">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="onCallback">
      <soap:operation soapAction="http://www.example.org/CallbackReceive/onCallback"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="CallbackReceive">
    <wsdl:port binding="tns:CallbackReceiveSOAP" name="CallbackReceiveSOAP">
      <soap:address location="http://localhost:8080/AsynchClient/services/CallbackReceive"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>
