AdditiveSplitting/bpelContent/CloudServices.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" 
xmlns:ws="http://www.cloudservices.org/MatServ/" 
xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" 
 name="MatServ" 
targetNamespace="http://www.cloudservices.org/MatServ/">
  <wsdl:types>
    <schema xmlns="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.cloudservices.org/MatServ/" xmlns:ws="http://www.cloudservices.org/MatServ/">
    	<element name="multiply">
    		<complexType>
    			<sequence>
    				<element name="op_id" type="string"></element>
    				<element name="job_id" type="string"></element>
    				<element name="matA_ID" type="string"></element>
    				<element name="matB_ID" type="string"></element>
    				<element name="callback" type="string"></element>
    			</sequence>
    		</complexType>
    	</element>

    	
    </schema>
  </wsdl:types>
  <wsdl:message name="multiplyRequest">
    <wsdl:part element="ws:multiply" name="parameters"/>
  </wsdl:message>

  
  <wsdl:portType name="MatServ">
    <wsdl:operation name="multiply">
      <wsdl:input message="ws:multiplyRequest"/>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="MatServSOAP" type="ws:MatServ">
  	<soap:binding style="document"
  		transport="http://schemas.xmlsoap.org/soap/http" />
  	<wsdl:operation name="multiply">
  		<soap:operation
  			soapAction="http://www.cloudservices.org/MatServ/multiply" />
  		<wsdl:input>
  			<soap:body use="literal" />
  		</wsdl:input>
  	</wsdl:operation>
  	
  </wsdl:binding>
  <wsdl:service name="MatServ">
    <wsdl:port binding="ws:MatServSOAP" name="MatServSOAP">
      <soap:address location="http://10.160.2.24:8080/SM_WS/services/MatServ"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>
